*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background: linear-gradient(135deg, rgb(185, 121, 132), rgb(4, 4, 149));
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgba(82, 80, 80, 0.9);
    box-shadow: 1px 2px 30px rgba(0, 0 , 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    width: 4px;
    height: var(--h);
    background: var(--clr);
}